<div class="container">
  <mat-card *ngFor="let form of forms$ | async | sort:'date'" class="form-card">
    <mat-card-title>{{form.name}}
     <mat-icon mat-button style="float: right; color: gray" (click)="removeForm(form.id)">delete</mat-icon>
    </mat-card-title>
    <div class="stats-grid">
      <h3>Status:</h3>
      <h3 class="highlighted">{{form.status}}</h3>
      <h3>Submission:</h3>
      <h3 class="highlighted">{{form.submissions}}</h3>
    </div>
    <div class="buttons">
      <button mat-raised-button color='primary' class="main-button" (click)="fillForm(form.id)" [disabled]="form.status != 'open'">FILL OUT FORM</button>
      <button mat-raised-button color='primary' class="secondary-button" (click)="editForm(form.id)"><mat-icon>edit</mat-icon></button>
      <button mat-raised-button color='primary' class="secondary-button" (click)="statsForm(form.id)"><mat-icon>bar_chart</mat-icon></button>
    </div>

  </mat-card>

  <button mat-raised-button color="primary" class="add-form" (click)="addForm()">
    <mat-icon class="add-form-icon">add</mat-icon>
    <h3 class="add-form-text">NEW FORM</h3>
  </button>
</div>
